<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">USF VipIR</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="jumbotron text-center">
  <h2>USF VIP Identity Records</h2>
  <h3>(VipIR MVP 1.0)</h3>
  <p>Access restricted to authorized users only.</p>
  <button class="btn btn-primary btn-lg" ng-click="getIdentity()">Continue</button>
</div>
<div class="alert alert-info" role="alert">
	Loaded {{ls.vp_area_list.length}} VP areas.
	<br />
	Loaded {{ls.department_list.length}} departments.
</div>