<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">USF VIP</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/search">Search</a></li>
        <li><a href="#/list">List</a></li>
		<li><a href="#/detail">Detail</a></li>
      </ul>
	  <ul class="nav navbar-nav navbar-right">
		<li>
			<div>
				<div class="check-element animate-hide navbar-text" ng-show="ls.name">
				  {{ls.name}} ({{ls.role}})
				</div>
			</div>
		</li>
		<li>
			<form action="#/exit">
				<button class="navbar-btn btn-primary btn-sm"><span class="glyphicon glyphicon-log-out"></span> Logout</button>
			</form>
		</li>
	  </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<form name="vipSearchForm" class="form-horizontal">
	<dl class="dl-horizontal">
		<dt>Name</dt><dd><p class="input-group"><input type="text" name="name" ng-model="search.name"></p></dd>
		<dt>DOB</dt>
			<dd><p class="input-group">
				<input type="text" size="4" maxlength="4" placeholder="yyyy" name="dob1" ng-model="search.dob1">
				<input type="text" size="2" maxlength="2" placeholder="mm" name="dob2" ng-model="search.dob2">
				<input type="text" size="2" maxlength="2" placeholder="dd" name="dob3" ng-model="search.dob3">
			</p></dd>
		<dt>SSN</dt>
			<dd><p class="input-group">
				<input type="text" size="3" maxlength="3" placeholder="nnn" name="ssn1" ng-model="search.ssn1">
				<input type="text" size="2" maxlength="2" placeholder="nn" name="ssn2" ng-model="search.ssn2">
				<input type="text" size="4" maxlength="4" placeholder="nnnn" name="ssn3" ng-model="search.ssn3">
			</p></dd>
		<dt></dt>
		<dd>
			<div class="btn-group">
			  <div class="controls">
				<button class="btn btn-primary" ng-disabled="!search.name && !search.dob1 && !search.ssn1" ng-click="vipSearch()">
					<span class="glyphicon glyphicon-search"></span> Search
				</button>
				<button class="btn btn-primary" ng-disabled="!search.name && !search.dob1 && !search.ssn1" type="reset" ng-click="reset()">Clear</button>
				<button class="btn btn-success" ng-disabled="!flags.identity_add" ng-click="vipAdd()">
					<span class="glyphicon glyphicon-plus"></span> Add
				</button>
			  </div>
			</div>
		</dd>
	</dl>
</form>